# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Django generated static files
staticfiles/

# Local database
db.sqlite3

# Environment variables
.env
.env.*

# IDE files
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
